# Database
DB_NAME=agnayi_crm
DB_USER=postgres
DB_PASSWORD=secret
DB_HOST=db
DB_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/0

# Django
SECRET_KEY=django-insecure-super-secret-change-in-prod
DEBUG=True
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# AWS (later)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=

# Twilio (mock)
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

# n8n webhook secret (optional)
N8N_WEBHOOK_SECRET=

